@import '../core/variables.scss';
@import '../core/mixins.scss';

.header {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    display: block;
  }
  &__title {
    display: none;
    @include tablet {
      display: block;
      padding-top: 70px;
      font-family: $mainFont;
      color: $mainColor;
      font-size: 40px;
    }
    &--logo {
      width: 250px;
      margin-top: 20px;
      filter: invert(1);
      @include tablet {
        position: absolute;
        transform: translate(450px, -110px);
        margin-left: 15px;
      }
    }
  }
}
