@import '../core/variables.scss';
@import '../core/mixins.scss';

.header{
    height: 160px;
    &__title{
        font-family: $mainFont;
        font-size: 40px;
        font-weight: bold;
        padding-top: 70px;
        &--logo{
            width: 250px;
            position: absolute;
            transform: translateY(-50px);
            margin-left: 15px;
        }
    }
}